# Storefront App Environment Variables
PORT=3000
NEXT_PUBLIC_STOREFRONT_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/commercex?schema=public"
BETTER_AUTH_SECRET="development_secret_change_in_production_min_32_chars"
BETTER_AUTH_URL="http://localhost:3000"
